*  {
    margin: 0px;
    padding: 0px;
}

.hide {
    display: none;
}

nav {
    background-color: lightgray;
    font-size: 20px;
}

.start-container {
    background-color: aqua;
    display: block;
    margin-left: 175px;
}

.quiz-container {
    background-color: gray;
    color: black;
}